<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>{{ title }} - Petstagram</title>
    {% else %}
      <title>Petstagram</title>
    {% endif %}
  </head>
  <body>
    <div class='logo'>
      <img src="static/logo.jpg" style="width:300px;height:100px;">
    </div>
    <br>
    {% if logged_out %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Sign Up</a>
    {% else %}
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('user') }}">Profile</a>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %} 
  </body>
</html>
