{% extends "base.html" %}

{% block content %}
     <table align="right">
     <caption>Logged In</caption>
     {% for user in users %}
          {% if user != current_user %}
               <tr>
                    <th>
                         <p>
                              {{ user }} (<a href="/message?user={{ user }}">DM</a>)
                              {% for key, value in messages.items() %}
                                   {% if key == user %}
                                        <a href="/reply?user={{ user }}"> <img src="/static/dm_notify_img.jpg" style="width:30px;"> </a>
                                   {% endif %}
                              {% endfor %}
                         </p>
                    </th>
               </tr>
          {% endif %}
     {% endfor %}
     </table>

     <a href="/upload">Upload a Photo!</a>

     <br>
     <br>
     {% for photo in photos %}
          {% for key, value in photo.items() %}
               {% if key == "username" %}
                    <h4>{{ value }}</h4>
               {% endif %}
               {% if key == "upload_date" %}
                    <p><em>Uploaded: {{ value }}</em></p>
               {% endif %}
               {% if key == "photo_path" %}
                    <img src="{{ value }}" style="width:300px;">
               {% endif %}
          {% endfor %}
          <hr>
     {% endfor %}

{% endblock %}