{% extends "base.html" %}

{% block content %}
    <h3>Replying to: {{ src_user }}</h3>
    <h4>Message:</h4>
    <p>{{ src_message }}</p>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
              <div>
                  {{ form.message.label }}
                  <br>
                  {{ form.message(cols=50, rows=2) }}
                  <br>
                  {% for error in form.message.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                {{ form.submit() }}
              </div>
              </form>
        </div>
    </div>
{% endblock %}