{{extends "base.html"}}

{{block content}}
    <div class="login-prompts">
      <div class="username">
	<div>
	  <h1>Email</h1>
	  <textarea id="email" rows="1" cols="20"></textarea>
	  <h1>Username</h1>
	  <textarea id="username" rows="1" cols="20"></textarea>
	  <h1>Password</h1>
	  <textarea id="password" rows="1" cols="20"></textarea>
	  <h1>Confirm Password</h1>
	  <textarea id="confirm password" rows="1" cols="20"></textarea>
	  <button name="create-account">Create Account</button>
	  <button name="cancel" onclick="location.href='index.html'">Cancel</button>
	</div>
      </div>
    </div>
{{end block}}
